.section3Container{
    padding: 15vmin 25vmin;
    text-align: center;
}
.containerTitle{
    font-size: 4vmin;
    color: #131C3B;
    font-weight: 600;
}
.containerSub{
    font-size: 2vmin;
    color: #919191;
    font-weight: 300;
    margin-bottom: 6vmin;
}
.flexedWork{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 2vmin;
    margin-top: 2vmin;
    flex-wrap: wrap;
    
}

.dine{
    width: 100%;
    border-radius: 10px;
    padding: 6vmin 2vmin;
    background-color: #252525;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
.work{
    width: 49%;
    padding: 6vmin 0vmin;
    border-radius: 10px;
    /* background-color: #25252508; */
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 2px #252525;
    
}
.work * {
    background-color: transparent;
}

.workTitle{
    font-size: 3.5vmin;
    color: #252525;
    font-weight: 600;
    letter-spacing: -0.5px;
}
.linkContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dine *{
    background-color: #252525;
}
.dineSvg{
    width: 15vmin;
    height: auto;
}

.workDesc{
    margin: 3vmin 0;
    color: #252525;
    font-size: 2.2vmin;
    padding: 0 10vmin;
    letter-spacing: 0.5px;
    flex-grow: 1;
}
.white{
    color: #f8f8f8;
}
.flexed{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vmin;
    gap: 1vmin;
    /* background-color: #252525; */
}
.tag{
    background-color: #EBFFEF;
    color: #29C481;
    width: max-content;
    padding: 1vmin 2vmin;
    border-radius: 5px;
    font-size: 2vmin;
    font-weight: 500;
}
.workLink{
    display: flex;
    background-color: #EBF6FF;
    color: #2972C4;
    justify-content: center;
    align-items: center;
    padding: 0.53vmin 2vmin;
    border-radius: 5px;
    border: none;
    gap: 0.5vmin;
    font-size: 2vmin;
    font-weight: 500;
    cursor: pointer;
}

.workLink svg{
    background-color: inherit;
}
.linkText{
    background-color: inherit;
}



@media (max-width: 768px) { 

    .section3Container{
        padding: 15vmin 5vmin;
    }
    .containerTitle{
        font-size: 5vmin;
    }
    .containerSub{
        font-size: 3.5vmin;
    }
    .flexedWork{
        flex-direction: column;
        gap: 4vmin;
    }
    .dine{
        /* border: dashed 2px #252525; */
    }
    .dineSvg{
        width: 20vmin;
    }
    .workDesc{
        font-size: 3.5vmin;
        padding: 0 5vmin;
    }
    .tag{
        font-size: 4vmin;
    }
    .workLink{
        padding: 1vmin 2vmin;
    }
    .workLink svg{
        width: 4.5vmin;
        height: auto;
    }
    .linkText{
        font-size: 3vmin;
    }
    .flexedWork{
        margin-top: 4vmin;
    }
    .work{
        width: 100%;
    }
    .workTitle{
        font-size: 5vmin;
    }
    .linkText{
        font-size: 4vmin;
    }
    

}
